*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: system-ui, 
				-apple-system, 
				BlinkMacSystemFont, 
				"Segoe UI", 
				"Roboto", 
				"Oxygen", 
				"Ubuntu", 
				"Cantarell", 
				"Fira Sans", 
				"Droid Sans", 
				"Helvetica Neue", 
				sans-serif;
	position: relative;
	margin: 0;
	min-height: 100%;
	padding-top:10px;
	background-color:#ececec;
}

hr {
	margin-top:20px;
	margin-bottom:20px;
	border:0;
	border-top:1px solid #aaa;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.footer-fluid-sign {
	padding: 0px 10px 4px;
	text-align: center;
}

.bg-4 {
	background-color:#2f2f2f;
	color:#fff;
}

#foot {
    margin-bottom: 0px;

}

h1 {
	text-align: center;
}

form {
	margin-top: 30px;
}

.well {
	text-align: left;
	margin-top: 20px;
}

input[type=number] {
	text-align: right;
}