#snackbar {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	color: #000; 
	text-align: center;
	border-radius: 2px; 
	padding: 16px; 
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 60px; 
}

#snackbar.show {
	visibility: visible; 
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
	animation: fadein 0.5s, fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 60px; opacity: 1;}
}

@keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {top: 60px; opacity: 1;}
	to {top: 0; opacity: 0;}
}

@keyframes fadeout {
	from {top: 60px; opacity: 1;}
	to {top: 0; opacity: 0;}
}

.danger {
	background-color: #f2dede;
	border-left: 6px solid #f44336;
}

.success {
	background-color: #dff0d8;
	border-left: 6px solid #4CAF50;
}

.info {
	background-color: #d9edf7;
	border-left: 6px solid #2196F3;
}

.warn {
	background-color: #fcf8e3;
	border-left: 6px solid #ffeb3b;
}
